:root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600&family=Roboto:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--colorBrokenWhite);
}

/* body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize-sm);
} */


a:hover {
    color: rgb(252, 237, 237);
  }

/* SignIn Component *//* SignUp Component */
.container {
    width: 30%;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: var(--colorBrokenWhite);;
    /* width: 50%;
    height: 90%; */
    padding: 1.5rem;
    border-radius: 8px;
    /* box-shadow: rgb(196, 206, 216) 0px 20px 30px -10px;   */

}
.header-title{
    font-weight: 00;
    font-size: 1rem;
}
  
div.container span {
    font-size: 0.8rem;
}
  
div.form {
    width: 75%;
}
  
.form-sign-in {
    margin-top: 2em;
}
  
div.container .form-sign-in,
  span {
    display: flex;
    justify-content: center;
}
  
.input-field {
    padding: 15px 15px;
    border: none;
    background: #f4d7f6;
    border-radius: 5px;
    margin: 8px 0;
    width: 100%;
}

.button {
    background-color: #8c1690;
    color: var(--colorWhite);
    padding: 15px 15px;
    border-radius: 6px;
    margin: 8px 0;
    width: 100%;
    cursor: pointer;
    border: none;
}
  
.button:hover {
    background-color: #e2178a;
    border: none;
  }



/* Nav component */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 40px;
    background-color: #f0e9f0;
    color:  whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3vh;
    z-index: 3;
}
    
.link{
  color:  rgba(17, 28, 47, 1); 
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em ;
  font-weight: 300;
  line-height: 1.5em;
  
}
.link:hover{
  color:#e2178a;
  transition: 0.3s ease;
}

.button-log-out{
  background-color: #8c1690;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em ;
  line-height: 1.5em;
  color:  whitesmoke; 
  /* border: 2px solid rgba(17, 28, 47, 1); */
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
}

.button-log-out:hover{
  background-color:#e2178a;
  color: whitesmoke; 
  transition: 0.3s ease;

}


/*NEW TASK*/

.container-new-task{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.titulo-new-task{
  margin-top: 15vh;
  padding: 20px 40px;
  width: 100%;
  text-align: center;
}

.create-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin:auto;
  margin-top: 2vh;
  text-align: left;
  width: 30%;
  height: 30%;
  border: 0;

  
} 

.input-field{
  border: none;
}


/*TASK-ITEM*/

.card-taskitem{
  width: 30%;
  height: 30%;
  border: 2px solid #8c1690;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  margin: 20px 40px 80px 40px;
  border-radius: 15px;
  align-items: center;
  text-align: center;
}

/* Contendeor de los 3 botones */
.button-taskitem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;

}

.button-1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #8c1690;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em ;
  line-height: 1.5em;
  color:  whitesmoke; 
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  margin-left: 6px;
  margin-right: 6px;
}

.button-1:hover{
  background-color:#e2178a;
  color: whitesmoke; 
  transition: 0.3s ease;

}

.edit-input{
    width: 50%;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: var(--colorBrokenWhite);
    height: 90%;
    padding: 1.5rem;
    border-radius: 8px;


}

.input-taskitem {
  padding: 15px 15px;
  border: none;
  background: #f4d7f6;
  border-radius: 5px;
  margin: 8px 0;
  width: 100%;
}
.button-saveedit{
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  margin: 8px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #8c1690;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em ;
  line-height: 1.5em;
  color:  whitesmoke; 
  /* padding: 5px 10px; */
  cursor: pointer;
}

.button-saveedit:hover{
  background-color:#e2178a;
  color: whitesmoke; 
  transition: 0.3s ease;

}

/* Home view */

/* Account View */